name: Run the update test suite
on:
  push:
    branches:
      - "main"
      - "*.*"
    tags:
      - "v*"
  pull_request:
  # Allow manual runs through the web UI
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: "v0.49.0"
      - run: |
          pixi run test
