name: Test Action
on:
  push:
    branches:
      - "main"
      - "*.*"
    tags:
      - "v*"
  pull_request:
  # Allow manual runs through the web UI
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  generate_data:
    runs-on: ubuntu-latest
    name: Run action on test file in repo
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Generate version data using local action
        uses: ./
        with:
          project_file_name: tests/test_data/pyproject.toml
          create_pr: false
          schedule_path: tests/test_data/test_schedule.json
